*{
	margin:0px;
	padding:0px; 
}
body{
	background-color: #CFCFCF;
}

#container{
    padding-bottom: 10px;	
}
#header{
	background: black;
    height:50px;
	width: 100%;
}
#headerleft{
	 width: 20%;
	 float: left;
}
#headerright{
	width: 80%;
	height: 50px;
	float: right;
}
.link{
	float: right;
	margin-top: 12px;
	margin-right: 20px;
}
.link>li{
	height:30px;
	float: left;
	margin-right: 30px;
	vertical-align: middle;
}
.link a{
	color:white;
	text-decoration: none;
	vertical-align: middle;
}
.body{
	background-color: white;
	margin:20px 20px;
	padding: 20px 20px;
	border: solid 1px #CFCFCF;
	border-right: 3px solid gray;
    border-bottom: 3px solid gray;
}

h3{
	margin-top: 8px;
}
.author{
	font-size: 12px;
	margin-top: 10px;
}
#image1{
	margin:10px 10px;
}
#ulist{
	list-style-type:none;
	margin-left: 20px;
	margin-top: 20px;
}
.text{
	width: 100%;
}
.imgborder{
	float: left;
	margin-left: 30px;
	margin-top: 20px;
	padding: 20px;
	border: solid 1px #000;
	width: auto;
}
#body3{
	clear: both;
	height: 400px;
}
.olist{
    margin-left: 20px;
    margin-top:20px;
}
.imglist{
    
}
.image{
	width: 150px;
	height: 100px;
}
#body4{
	clear: both;
}
table{
	 border:1px solid gray;
	 margin-top: 20px;
	 width: 100%;
	 border-collapse: collapse;
	 border-color: #CFCFCF;"
}
tr,th,td{
	border: 1px solid gray;
}
#body5{
    height: auto;
	overflow:hidden;
}
.leftpart{
    width: 38%;
    text-align: right;
    float: left;
    clear: both;
    margin-top: 5px;
    margin-bottom: 5px;
}
.rightpart{
	width: 60%;
	text-align: left;
    float: right;
    margin-top: 5px;
    margin-bottom: 5px;  
}

.hint{
	font-size: 14px;
	color: gray;
	margin-bottom: 15px;
}
#btn-submit{
	width: 100%;
	height: 35px;
	background-color: #3A5FCD;
	border-radius: 10px;
	font-size: 20px;
	color: white;
}
.center{
	clear: both;
	width: 100%;
	text-align: center;
}

#wrapper{
	clear: both;
}

#wrapper1{
	float: left;
    /*width: 70%;*/
    margin-right: 400px;
    background: #CFCFCF;
}
#wrapper2{
    float: right;
    width: 400px;
    margin-left: -400px;
    background: #CFCFCF;
}
#footer{
	background: black;
    height:50px;
	width: 100%;
	margin-bottom: 10px;
	clear: both;
}
#owner{
	height: 50px;
	text-align: center;
	color: white;
	line-height: 50px;
}
