*{
	margin: 0;
	padding:0;
}
#container{
	margin:10px;
	padding: 10px; 
}
#mainbody{
	background-color:#eee;
	border: #999 solid 1px;
	overflow: auto;
	min-width: 800px;
}
.image{
	width: 80px;
	height: 80px;
	margin: 20px;
}
#left{
	float: left;
	margin-left:20px;
	border: #999 solid 1px; 
	margin:20px;
	width: 200px;
	background-color:white; 
}
#middle{
	margin: 20px 160px 20px 240px;
	border: #999 solid 1px; 
	background-color:white; 
}
#right{
	float:right;
	margin-right:20px;
	width: 120px;
	border: #999 solid 1px; 
	margin:20px;
	background-color:white; 
}