*{
	padding: 0px;
	margin: 0px;
	font-size: 22px;
}

#panel{
	width: 320px;
	height: 320px;
	margin:100px auto;
	background-color: #fff;
	border:3px solid #ccc;
	border-radius: 10px;
	padding: 10px;
}

#date,#week,#day{
	text-align: center;
	margin-top: 20px;
}

#previous,#next{
	margin-left: 10px;
	margin-right: 10px;
	padding: 5px;
	background-color:#cff;
	border-radius: 5px;
	font-size: 18px;
}

select{
	width: 80px;
	height: 30px;
	margin-left: 3px;
	margin-right: 3px;
	border-radius: 5px;
}

span{
	font-size: 24px;
	font-weight: bold;
	margin-left: 8px;
    margin-right: 8px;
    text-align: right;
    cursor: pointer;
}

.grayColor{
	color:#ccc;
}